PORT=3002
MONGODB_URI=mongodb://mongo:27017/reeltrack_users_db
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

ADMIN_SEED_ENABLED=true
DEFAULT_ADMIN_AUTH_ID=000000000000000000000001
DEFAULT_ADMIN_EMAIL=admin@reeltrack.local
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_NAME=ReelTrack Admin
